<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" verbose="2" thread-count="1">
    <test name="first">
        <parameter name="browser" value="chrome"></parameter>
        <parameter name="phonemail" value="myjne001@gmail.com"></parameter>
        <parameter name="otp" value="1234"></parameter>
        <classes>
            <class name="scenario.RegisterInvalidOtp"/>
        </classes>
    </test>
</suite>